In [3]:
import pandas as pd

atmospheric_table = {'0':[1.225,7.249],
                     '25':[3.899*10**-2,6.349],
                     '30':[1.774*10**-2,6.6882],
                     '40':[3.972*10**-3,7.554],
                     '50':[1.057*10**-3,8.382],
                     '60':[3.206*10**-4,7.714],
                     '70':[8.770*10**-5,6.549],
                     '80':[1.905*10**-5,5.799],
                     '90':[3.396*10**-6,5.382],
                     '100':[3.396*10**-6,5.382],
                     '1000':[3.019*10**-15,268]
                     }
display(pd.DataFrame(atmospheric_table).T)

                 0         1
0     1.225000e+00    7.2490
25    3.899000e-02    6.3490
30    1.774000e-02    6.6882
40    3.972000e-03    7.5540
50    1.057000e-03    8.3820
1000  3.019000e-15  268.0000